html, body {
  margin: 0;
  }
  
  #App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  }
  
  #mkalogo {
  width: 200px;
  height: auto;
  }
  
  #page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* Empêcher la barre de défilement latérale de s'afficher */
  overflow: auto;
  }
  
  #Pick-up-line {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  }
  #Pick-up-secondTitle {
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  display: flex;
  }
  
  div.radio-wrapper {
  display: inline-block;
  }
  
  .text-muted {
  text-align: center;
  }
  
  .form-group {
  margin-bottom: 20px;
  text-align: center;
  }
  
  .form-control {
  height: 50px;
  border-radius: 25px;
  border: none;
  padding-left: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .form-control:focus {
  outline: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  }
  
  
  
  #homeSubmitButton,
  #backToLoginPage:hover,
  #homeForgotPassword:hover ,
  #backToLoginPage {
  background-color: #0099ff;
  }
  
  #homeForgotPassword,
  #backToLoginPage {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #f2f2f2;
  border: none;
  margin-top: 20px;
  color: #555;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  #homeSubmitButton,
  #homeForgotPassword,
  #backToLoginPage {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #a6b9a2;
  border: none;
  margin-top: 20px;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  #homeSubmitButton:hover,
  #homeForgotPassword:hover ,
  #backToLoginPage:hover {
  background-color: #0099ff;
  
  
}

.proposedStarterZone {
  width: 250px;
  height: 225px;
  text-align: center;
  border : 2px solid blue;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.proposedStarterZone img {
  min-width: 100%;
  height: auto;
}
.dropdown {
  position: absolute;
  top: 100%;
  transition: top .6s ease-in-out;
  transition: opacity 1.2s ease-in-out;
  z-index: 10;
  width: 100%;
  
  height: 100%;
}
.dropdown h4 {
  transition: all .3s; 
  transition-delay: 1s;
}
.proposedStarterZone:hover .dropdown {
  top: -225px;
  transition-delay: 0.3s;
  background: rgba(0, 0, 255, 0.6);
}
.proposedStarterZone:hover .dropdown h4 {
  transform: scale(2);
}

#proposedStarterPicture, #bonap {
  max-width: 100%
}           

#proposedStarerName {
font-size: 6vw;
}


/*Lunch items creation form**/
#formField{
  
  padding: 20px 20px;
  width: 80%;
   border: solid;
  border-radius: 4px;
  margin-bottom: 2%;
}



#resetPropositionForm,
#createPropositionButton, 
#backToBrigadeButton,
#goToLunchItemCreation,
#goToReservableItems,
#goToLunchItemlist,
#goToBrigadeArea,
#validLunchBag,
#goToCollaborartorArea {
  text-align: center;
  width: 30%;
    margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 2px;
  color: black;
  background-color: #a6b9a2;
  border-radius: 0.25rem;
}

#goToCollaboratorArea{
  text-align: center;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 2px;
  color: black;
  background-color: #0f0202;
  border-radius: 0.25rem;
}







/* Navbar Style**/
a.dropdown-toggle nav-link {

}

/* AllLunchItemsBrigade array**/

#brigadeArrayColumnsTitle {

  font-size: 3vw;
}

